<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hero - Admin</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
        .hero-list img {
            width: 50px;
        }
    </style>
</head>

<body>
    <header>
        <div class="page-header container">
            <h1>王者荣耀 <small>英雄管理器</small></h1>
        </div>
    </header>
    <div class="container hero-list">
        <form id='myform'>
            <input type="hidden" name="img" id="headSrc">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>姓名：</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td><input id="nan" name="gender" value="男" type="radio"><label for="nan">男</label> <input
                                name="gender" value="女" type="radio" id="nv"><label for="nv">女</label></td>
                    </tr>
                    <tr>
                        <td>头像：</td>
                        <td><img src="../static/images/0.jpg" alt="" id="photo" width="100">
                            <input type="file" id="img"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn btn-primary" type="button" id="sub" value="新增"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        新增成功
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modelId1" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        用户名不能为空
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>


    
</body>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script>
    // 上传图片需要先把图片转换为文件流

    // 上传图片的步骤：
    //         1.注册事件
    //         2.在事件处理程序里面获取图片
    //         3.把图片转换为文件流 - FormData
    //         4.使用ajax把图片上传到服务器

    let btn = document.querySelector('#img');
    btn.onchange = function () {
        // console.log(this.files)
        //在事件处理程序里面获取图片
        let file = this.files[0];
        //把图片转换为文件流 - FormData
        let fd = new FormData();
        fd.append('pic', file);

        
        // 使用ajax把图片上传到服务器
        let xhr = new XMLHttpRequest();
        xhr.open('post', 'http://127.0.0.1:8080/uploadHeadImg');
        xhr.send(fd);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                // console.log(xhr.responseText)
                let res = JSON.parse(xhr.responseText);
                if (res.code === 200) {
                    // 获取到了服务器返回的数据之后，把图片的地址替换一下
                    $('#photo').attr('src', res.baseDir + res.filePath);
                    // 上传成功之后，要把图片的名字，写入隐藏域，以便我们在提交数据的时候，获取
                    $('#headSrc').val(res.filePath);
                }
            }
        }
    }



    //实现新增的效果
    $('#sub').on('click', function () {
        //非空判断
        if ($('tbody input[type=text]').val().trim().length === 0) {    
            $('#modelId1').modal();
            return;
        }
        //获取表单的数据
        let data = $('form').serialize();
        $.ajax({
            type: 'post',
            url: 'http://127.0.0.1:8080/addNewHero',
            data: data,
            success: function (res) {
                if (res.code === 200) {
                    $('#modelId').modal()
                    $('.btn-secondary').on('click',function(){
                        location.href = './index.html'
                    })
                }
            }
        })
    })
</script>

</html>